#container {
    position: absolute;
    left    : 35%;
    width   : 30%;
    
    display: -webkit-box;
    display: -moz-box;
    display: box;

    -moz-box-orient   : vertical;
    box-orient        : vertical; 
    -webkit-box-orient: vertical;
}

#phone_top {
    width     : 100%;
    text-align: center;
    
    background: #000000;
    
    border-radius        : 10px 10px 0px 0px; 
    -moz-border-radius   : 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px; 
    border               : 10px solid #000000;
}

#phone_content {
    height: 450px;
    width : 100%;
    border: 10px solid #000000;
    
    background: #cccccc;
    
    overflow: scroll;
}

#phone_bottom {
    width: 100%;

    border-radius        : 0px 0px 10px 10px; 
    -moz-border-radius   : 0px 0px 10px 10px; 
    -webkit-border-radius: 0px 0px 10px 10px; 
    border               : 10px solid #000000;
}

#phone_intro {
    margin: 3px;
}

.messages {
    padding-left: 2px;
    width       : 40%;
    
    border-radius        : 3px 3px 3px 3px; 
    -moz-border-radius   : 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px; 
    border               : 1px solid #000000;
}

.message_from_you {
    margin-left  : auto;
    margin-right : 3px;
    margin-top   : 3px;
    margin-bottom: 3px;
    
    background: #ffffff;
}

.message_to_you {
    margin-right : auto;
    margin-left  : 6px;
    margin-top   : 3px;
    margin-bottom: 3px;
    
    background: #8fccc0;
}

.message_timestamp {
    margin    : 3px;
    text-align: center;
}